<html>
<head>
    <title>Data Deletion Instructions</title>
</head>
<body>
    <h1>Data Deletion Instructions for Home Expense Calculator</h1>
    <p>
        If you wish to delete your data from our system, please send an email to your-email@domain.com with the subject line "Data Deletion Request". We will delete all user data associated with your account within 30 days of receiving the request.
    </p>
    <p>
        Please include your username or the email address associated with your account in the request.
    </p>
</body>
</html>
